@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mitch's Page";
}

<h1>Mitch Anderson</h1>

<!--image-->
<img src="img/A82C2E0A-2E7A-4C5E-948F-523CC415D775.JPG" width="300" />

<!--413 paragraph-->
<p>
    In this IS 413 class, I hope to acquire important programming skills, specifically with ASP.NET, that I will be able to use on future projects. I also want to have fun whilst
    becoming a better programmer. I also want to become better at debugging programs so that I don't have to rely on outside resources quite as much. Speaking of resources, I want to
    put some new ones in my arsenal!
</p>

<!--top jobs-->
<h3>The jobs I am most interested in:</h3>
<ol>
    <li>Data Analyst</li>
    <li>Software Developer</li>
    <li>Database Engineer</li>
</ol>

